*{
    margin: 0;
    padding: 0;
}



/**************************************************************GRILLA1************************************************************************/
#grilla {
    display: grid;
    grid-template-areas:
    "header header header"
    "section section aside"
    "footer footer footer";

    grid-template-rows:  auto 8fr 1fr;
    grid-template-columns: 7fr 1.5fr 1.5fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}

header {
    grid-area: header;
}
section {
    grid-area: section;
    /*background-color: aqua;*/
}
aside {
    grid-area: aside;
    /*background-color: blueviolet;*/
}
footer {
    grid-area: footer;
    
}

/**************************************************************GRILLA2************************************************************************/
#grilla2 {
    display: grid;
    grid-template-areas:
    "header header header"
    "section section aside"
    "footer footer footer";

    grid-template-rows:  auto auto auto;
    grid-template-columns: 7fr 1.5fr 1.5fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}

header {
    grid-area: header;
}
section.sectionAlbumes {
    grid-area: section;
    /*background-color: aqua;*/
}
aside {
    grid-area: aside;
    /*background-color: blueviolet;*/
}
footer {
    grid-area: footer;
    
}
/***************************************************************HEADER*******************************************************************************/
header {
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(7,52,149,1) 27%, rgba(6,75,165,1) 37%, rgba(6,84,171,1) 44%, rgba(3,142,209,1) 56%, rgba(0,212,255,1) 70%, rgba(0,212,255,1) 80%, rgba(0,212,255,1) 88%);
    
    
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid white;

}

header label:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.3);

}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li:hover {
    background: rgba(0,0,0,0.3);
}
.menu li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

@media (max-width: 800px) {
    header label {
        display: block;
    }

    .menu {
        position: absolute;
        /*background: black;*/
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(7,52,149,1) 27%, rgba(6,75,165,1) 37%, rgba(6,84,171,1) 44%, rgba(3,142,209,1) 56%, rgba(0,212,255,1) 70%, rgba(0,212,255,1) 80%, rgba(0,212,255,1) 88%);
        width: 70%;
        margin-left: -70%;
    }

    .menu ul {

        flex-direction: column;

    }

    .menu li {
        border-top: 1px solid white;
    }

    #btn-menu:checked ~ .menu {
        margin: 0;
    }
    .flexPadreShowbiz{
        flex-direction: column;
    }
}

/********************************************************CONTAINERINDEX************************************************************/

.flex-padre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;  
}
.flex-hijo1 {
    padding-top: 2rem;
    width: 500px;
    text-align: justify;  
}
.flex-hijo2 iframe {
    width: 600px;
    height: 300px;   
}
.flex-hijo2 {
    padding-top: 1rem; 
    padding-bottom: 3rem;
}

.cubo{
    display: flex;
    height: 100px;
    width: 100px;
    position: relative;
    transform-style: preserve-3d;
    animation:  rotar 5s infinite linear;
    
}

#cara1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(7,52,149,1) 27%, rgba(6,75,165,1) 37%, rgba(6,84,171,1) 44%, rgba(3,142,209,1) 56%, rgba(0,212,255,1) 70%, rgba(0,212,255,1) 80%, rgba(0,212,255,1) 88%);
    transform: translateZ(-50px);
}
#cara2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(7,52,149,1) 27%, rgba(6,75,165,1) 37%, rgba(6,84,171,1) 44%, rgba(3,142,209,1) 56%, rgba(0,212,255,1) 70%, rgba(0,212,255,1) 80%, rgba(0,212,255,1) 88%);
    transform: translateZ(50px);
}
#cara3 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(7,52,149,1) 27%, rgba(6,75,165,1) 37%, rgba(6,84,171,1) 44%, rgba(3,142,209,1) 56%, rgba(0,212,255,1) 70%, rgba(0,212,255,1) 80%, rgba(0,212,255,1) 88%);
    transform: translateX(50px) rotateY(90deg);
}
#cara4 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(7,52,149,1) 27%, rgba(6,75,165,1) 37%, rgba(6,84,171,1) 44%, rgba(3,142,209,1) 56%, rgba(0,212,255,1) 70%, rgba(0,212,255,1) 80%, rgba(0,212,255,1) 88%);
    transform: translateX(-50px) rotateY(90deg);
}
#cara5 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(7,52,149,1) 27%, rgba(6,75,165,1) 37%, rgba(6,84,171,1) 44%, rgba(3,142,209,1) 56%, rgba(0,212,255,1) 70%, rgba(0,212,255,1) 80%, rgba(0,212,255,1) 88%);
    transform: translateY(50px) rotateX(90deg);
}
#cara6 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(7,52,149,1) 27%, rgba(6,75,165,1) 37%, rgba(6,84,171,1) 44%, rgba(3,142,209,1) 56%, rgba(0,212,255,1) 70%, rgba(0,212,255,1) 80%, rgba(0,212,255,1) 88%);
    transform: translateY(-50px) rotateX(90deg);
}

@keyframes rotar {
from{ transform: rotateY(0deg);}

to{ transform: rotateY(360deg);}
}
/********************************************************CONTAINERALBUMES************************************************************/



.sectionAlbumes {
    padding-left: 10rem;
    padding-top: 7rem;
}

                            /*****************************FLEXSHOWBIZ****************************/
.flexPadreShowbiz{
    display: flex;
    flex-direction: row;
}

.flexHijo2Showbiz img {
    width: 62%;
    margin-left: 7rem;
    margin-top: 4rem;
}

.flexHijo2Showbiz img:hover{
    transform: scale(1.3);
}

.flexHijo1Showbiz {
    padding-bottom: 10rem;
}

.flexHijo1Showbiz ol {
    margin-top: 1rem;
}

.flexHijo1Showbiz li {
padding: 0.5rem;
}


                                /****************************FLEXORIGIN********************************/
.flexPadreOrigin{
    display: flex;
    flex-direction: row;
}

.flexHijo2Origin img {
    width: 32%;
    margin-left: 9rem;
    margin-top: 4rem;
}

.flexHijo2Origin img:hover{
    transform: scale(1.3);
}

.flexHijo1Origin {
    padding-bottom: 10rem;
}

.flexHijo1Origin ol {
    margin-top: 1rem;
}

.flexHijo1Origin li {
padding: 0.5rem;
}

                                  /**************************FLEXABSOLUTION***************************/
.flexPadreAbsolution{
    display: flex;
    flex-direction: row;
}

.flexHijo2Absolution img {
    width: 50%;
    margin-left: 6rem;
    margin-top: 5rem;
}
.flexHijo2Absolution img:hover{
    transform: scale(1.3);
}
.flexHijo1Absolution {
    padding-bottom: 10rem;
}

.flexHijo1Absolution ol {
    margin-top: 1rem;
}

.flexHijo1Absolution li {
padding: 0.5rem;
}

                           /*******************************FLEXBLACK***********************************/
.flexPadreBlack{
    display: flex;
    flex-direction: row;
}

.flexHijo2Black img {
    width: 38%;
    margin-left: 10rem;
    margin-top: 5rem;
}

.flexHijo2Black img:hover{
    transform: scale(1.3);
}

.flexHijo1Black {
    padding-bottom: 10rem;
}

.flexHijo1Black ol {
    margin-top: 1rem;
}

.flexHijo1Black li {
padding: 0.5rem;
}


                            /**************************FLEXRESISTANCE******************************/
.flexPadreResistance{
    display: flex;
    flex-direction: row;
}

.flexHijo2Resistance img {
    width: 40%;
    margin-left: 7rem;
    margin-top: 5rem;
}

.flexHijo2Resistance img:hover{
    transform: scale(1.3);
}

.flexHijo1Resistance {
    padding-bottom: 10rem;
}

.flexHijo1Resistance ol {
    margin-top: 1rem;
}

.flexHijo1Resistance li {
padding: 0.5rem;
}

                               /******************************FLEXLAW***********************************/
.flexPadreLaw{
    display: flex;
    flex-direction: row;
}

.flexHijo2Law img {
    width: 55%;
    margin-left: 7rem;
    margin-top: 5rem;
}

.flexHijo2Law img:hover{
    transform: scale(1.3);
}

.flexHijo1Law {
    padding-bottom: 10rem;
}

.flexHijo1Law ol {
    margin-top: 1rem;
}

.flexHijo1Law li {
padding: 0.5rem;
}
                                  /***************************FLEXDRONES***********************************/
.flexPadreDrones{
    display: flex;
    flex-direction: row;
}

.flexHijo2Drones img {
    width: 95%;
    margin-left: 13rem;
    margin-top: 3rem;
}

.flexHijo2Drones img:hover{
    transform: scale(1.3);
}

.flexHijo1Drones {
    padding-bottom: 10rem;
}

.flexHijo1Drones ol {
    margin-top: 1rem;
}

.flexHijo1Drones li {
padding: 0.5rem;
}
                                   /***************************FLEXSIMULATION*******************************/
.flexPadreSimulation{
    display: flex;
    flex-direction: row;
}

.flexHijo2Simulation img {
    width: 55%;
    margin-left: 11rem;
    margin-top: 3rem;
}

.flexHijo2Simulation img:hover{
    transform: scale(1.3);
}

.flexHijo1Simulation {
    padding-bottom: 10rem;
}

.flexHijo1Simulation ol {
    margin-top: 1rem;
}

.flexHijo1Simulation li {
padding: 0.5rem;
}

/*******************************************************ASIDE******************************************************************/
.flexPadre-aside {
    display: flex;
    margin-right: 5rem;
    margin-top: 5rem;
    padding-top: 4rem;
    padding-right: 2rem;
}


.flexPadre-aside--hijo {

    text-align: justify;
}

.flexPadre-aside--hijo h3 {
    padding-bottom: 2rem;
}
/**************************************************************FOOTER******************************************************************************/
.footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 15%, rgba(7,52,149,1) 27%, rgba(6,75,165,1) 37%, rgba(6,84,171,1) 44%, rgba(3,142,209,1) 56%, rgba(0,212,255,1) 70%, rgba(0,212,255,1) 80%, rgba(0,212,255,1) 88%);
    color: white;
  
}

.footer__flex {
    display: flex;
    justify-content: space-around;
    
}

.footer__menu {
    list-style: none;
    
}

.footer__menu a {
    color: white;
    text-decoration: none;
}

.footer__credito {
    text-align: center;
    padding: 0.5rem;
    font-size: 0.7rem;

}


.flexSuscribete  {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
   
}
